<div class="row">
    <div class="col">
        <h1>Users list</h1>
        <button m-icon="add" m-icon-text="Create User" [routerLink]="['new']" class="btn btn-primary"></button>
    </div>
</div>

<hr>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span m-icon="search" class="input-group-text"></span>
        </div>
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Filter user by name...">
    </div>
</div>

<user-table [users]="users$ | async | userFilter:searchText" (delete)="onDelete($event)"></user-table>