<td class="align-middle">{{ user?.username }}</td>
<td class="align-middle">{{ user?.name }}</td>
<td class="align-middle">{{ user?.email }}</td>
<td>
    <div class="btn-group">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
        </button>
        <div class="dropdown-menu">
                <a m-icon-text="Detail" m-icon="account_box" [routerLink]="['/user', user.id]" class="btn btn-sm dropdown-item"></a>
                <a m-icon-text="Edit" m-icon="mode_edit" [routerLink]="['/users', user?.id, 'edit']" class="btn btn-sm dropdown-item text-primary"></a>
                <a m-icon-text="Delete" m-icon="delete" (click)="onDelete()" class="btn btn-sm dropdown-item text-danger"></a>
        </div>
    </div>
</td>
