<div class="row my-2">
    <div class="col">
        <button m-icon="keyboard_arrow_left" m-icon-text="Go Back" routerLink="/users" class="btn btn-primary"></button>
    </div>
</div>

<div *ngIf="user; then userInfo else loader"></div>

<ng-template #userInfo>
    <div class="jumbotron">
        <h3>{{ user.name }} <small class="text-muted">({{ user?.username }})</small></h3>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <p m-icon="email" [m-icon-text]="user.email"></p>
                </div>
                <div class="col-md">
                    <p m-icon="phone" [m-icon-text]="user.phone"></p>
                </div>
                <div class="col-md">
                    <a href="http://{{user.website}}" m-icon="public" [m-icon-text]="user.website"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="h4" m-icon="map" m-icon-text="Address"></p>
            <div>{{user.address?.street}}</div>
            <div>{{user.address?.suite}}</div>
            <div>{{user.address?.city}}</div>
            <div>{{user.address?.zipcode}}</div>
        <hr>
        <p class="h4" m-icon="business" m-icon-text="Company"></p>
            <div>{{user.company?.name}}</div>
            <div>{{user.company?.catchPhrase}}</div>
            <div>{{user.company?.bs}}</div>
    </div>
</ng-template>

<ng-template #loader>
    <i m-icon="loop"></i> Loading...
</ng-template>